/*  flexbox */

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: blueviolet;
  }
  
.flex-container > div {
    width: 33%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    background-color: aqua;
  }

.flex_item {
    object-fit: contain;
}

img {
    width: 100%;
}